<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>YFCollectionViewAutoFlowLayout</string>
		<key>VC</key>
		<string>YFCollectionViewAutoFlowLayoutVC</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>YFPageViewController</string>
		<key>VC</key>
		<string>YFPageViewControllerVC</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>YFIndexIndicatorView</string>
		<key>VC</key>
		<string>YFPageViewControllerVC</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>YFProgressHUD</string>
		<key>VC</key>
		<string>YFProgressHUDVC</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>YFPickerView</string>
		<key>VC</key>
		<string>YFPickerViewVC</string>
	</dict>
</array>
</plist>
